- @title = "Rubidiom, LLC"
- @bodyclass = "rubidiom"

%h1 Rubidiom, LLC
%h2 Crafting Web Software

%h3 Hi, I'm #{link_to "Ben Hughes", "http://benhughes.name"}, a software developer from San Diego, California.
%h3 I build web applications with Ruby and Coffeescript.
